<script lang="ts" setup>
import { ref } from "vue";
let textbtn = ref("Angry");
const colorCheck1 = ref(true);
const colorCheck2 = ref(false);
const colorCheck3 = ref(false);
const colorCheck4 = ref(false);
const colorCheck5 = ref(false);
const colorCheck6 = ref(false);
const textCheck = () => {
  if (colorCheck1.value === true) {
    textbtn.value = "Angry";
  } else if (colorCheck2.value === true) {
    textbtn.value = "Cute";
  } else if (colorCheck3.value === true) {
    textbtn.value = "Excited";
  } else if (colorCheck4.value === true) {
    textbtn.value = "Pain";
  } else if (colorCheck5.value === true) {
    textbtn.value = "Shocked";
  } else {
    textbtn.value = "Smile";
  }
};
const clickOn1 = () => {
  if (colorCheck1.value === false) {
    colorCheck1.value = true;
  }
  colorCheck2.value = false;
  colorCheck3.value = false;
  colorCheck4.value = false;
  colorCheck5.value = false;
  colorCheck6.value = false;
  textCheck();
};
const clickOn2 = () => {
  if (colorCheck2.value === false) {
    colorCheck2.value = true;
  }
  colorCheck1.value = false;
  colorCheck3.value = false;
  colorCheck4.value = false;
  colorCheck5.value = false;
  colorCheck6.value = false;
  textCheck();
};
const clickOn3 = () => {
  if (colorCheck3.value === false) {
    colorCheck3.value = true;
  }
  colorCheck1.value = false;
  colorCheck2.value = false;
  colorCheck4.value = false;
  colorCheck5.value = false;
  colorCheck6.value = false;
  textCheck();
};
const clickOn4 = () => {
  if (colorCheck4.value === false) {
    colorCheck4.value = true;
  }
  colorCheck1.value = false;
  colorCheck3.value = false;
  colorCheck2.value = false;
  colorCheck5.value = false;
  colorCheck6.value = false;
  textCheck();
};
const clickOn5 = () => {
  if (colorCheck5.value === false) {
    colorCheck5.value = true;
  }
  colorCheck1.value = false;
  colorCheck3.value = false;
  colorCheck4.value = false;
  colorCheck2.value = false;
  colorCheck6.value = false;
  textCheck();
};
const clickOn6 = () => {
  if (colorCheck6.value === false) {
    colorCheck6.value = true;
  }
  colorCheck1.value = false;
  colorCheck3.value = false;
  colorCheck4.value = false;
  colorCheck5.value = false;
  colorCheck2.value = false;
  textCheck();
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col col="6">
        <v-card
          ><v-img
            max-height="500px"
            max-width="500px"
            :src="
              colorCheck1 === true
                ? '../feeling_imgs/angry.png'
                : colorCheck2 === true
                ? '../feeling_imgs/cute.png'
                : colorCheck3 === true
                ? '../feeling_imgs/excited.png'
                : colorCheck4 === true
                ? '../feeling_imgs/pain.png'
                : colorCheck5 === true
                ? '../feeling_imgs/shocked.png'
                : '../feeling_imgs/smile.png'
            "
          ></v-img
        ></v-card>
      </v-col>
      <v-col col="6">
        <h2 :label="colorCheck1 === true ? 'Angry' : 'Cute'"></h2>
        <card title="colorCheck1 === true ? 'Angry' : 'Cute'"></card>
        <v-table>
          <thead>
            <tr>
              <th>
                <v-col col="6" justify="center" v-model="textbtn">
                  {{ textbtn }}
                </v-col>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn1()"
                    :color="colorCheck1 === true ? 'yellow' : 'white'"
                    >ANGRY</v-btn
                  ></v-card
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn2()"
                    :color="colorCheck2 === true ? 'yellow' : 'white'"
                    >CUTE</v-btn
                  ></v-card
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn3()"
                    :color="colorCheck3 === true ? 'yellow' : 'white'"
                    >EXCITED</v-btn
                  ></v-card
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn4()"
                    :color="colorCheck4 === true ? 'yellow' : 'white'"
                    >PAIN</v-btn
                  ></v-card
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn5()"
                    :color="colorCheck5 === true ? 'yellow' : 'white'"
                    >SHOCKED</v-btn
                  ></v-card
                >
              </td>
            </tr>
            <tr>
              <td>
                <v-card
                  ><v-btn
                    height="40px"
                    width="100%"
                    class="text-h5"
                    @click="clickOn6()"
                    :color="colorCheck6 === true ? 'yellow' : 'white'"
                    >SMILE</v-btn
                  ></v-card
                >
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
