<script lang="ts" setup>
import { ref } from "vue";
const number1 = ref(0);
</script>

<template>
  <v-container>
    <v-text-field
      name="number"
      label="Please input number"
      id="number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      v-model.number="number1"
    ></v-text-field>
    <v-row>
      <v-col v-for="i in number1" :Key="i" cols="1">
        {{ i }}
      </v-col>
    </v-row>
  </v-container>
</template>
