<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ counterStore.count * 2 }}</div>
  <v-btn @click="counterStore.decrese">DECREASE</v-btn>
</template>
